## Домашняя работа №1

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data/weatherHistory.csv")
data.rename({'Formatted Date':'date', 'Temperature (C)':'temp', 'Apparent Temperature (C)':'temp_app',
                    'Precip Type':'weather_type', 'Wind Speed (km/h)':'wind_speed', 'Humidity':'humidity',
                    'Daily Summary':'summary'}, 
                    axis=1, inplace=True)
data.date = pd.to_datetime(data.date, utc=True)

1) самый холодный и самый ветренный дни в Сегеде за всю имеющуюся историю

In [34]:
data[data.temp == data.temp.min()]

,date,Summary,weather_type,temp,temp_app,humidity,wind_speed,Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),summary
54847,2012-02-10 06:00:00+00:00,Foggy,snow,-21.822222,-21.822222,0.8,3.0751,323.0,1.3685,0.0,1033.66,Foggy starting in the morning continuing until...

In [35]:
data[data.wind_speed == data.wind_speed.max()]

,date,Summary,weather_type,temp,temp_app,humidity,wind_speed,Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),summary
12181,2007-01-29 12:00:00+00:00,Dangerously Windy and Partly Cloudy,rain,8.944444,3.483333,0.49,63.8526,307.0,11.4471,0.0,1009.05,Mostly cloudy throughout the day and windy sta...

2) сколько раз шел дождь летом 2014 года (все лето)

In [47]:
data[(data['date'] > '2014-06-1') & (data['date'] < '2014-09-01')].sort_values(by="date")\
                                                                  .weather_type\
                                                                  .value_counts()

rain    2204
Name: weather_type, dtype: int64

3) Самый ветрянный месяц

In [75]:
months = data[["date", "wind_speed"]].groupby(lambda idx: data.loc[idx].date.month_name())

In [80]:
months.aggregate(np.mean).sort_values(by="wind_speed")

           wind_speed
August       8.942707
September    9.610204
June         9.632453
July         9.637124
October     10.008495
November    10.947953
May         10.953186
December    11.094578
January     11.515865
April       11.876139
February    12.180815
March       13.415825

В среднем, за всю историю самым ветренным является март.

Самый влажный год

In [81]:
years = data[["date", "humidity"]].groupby(lambda idx: data.loc[idx].date.year)

In [82]:
years.aggregate(np.mean).sort_values(by="humidity")

      humidity
2012  0.689513
2007  0.689647
2008  0.701239
2009  0.707247
2015  0.732354
2011  0.736008
2014  0.748571
2013  0.754197
2016  0.760868
2006  0.767349
2010  0.796861
2005  0.890000

Самый влажный год: 2005

Неделя с самой переменчивой погодой

In [88]:
weeks = data[["date", "temp", "humidity", "wind_speed"]].groupby(lambda idx: data.loc[idx].date.weekofyear)

In [90]:
weeks.aggregate(np.std).sort_values(by=["temp", "humidity", "wind_speed"])

        temp  humidity  wind_speed
48  3.617409  0.105251    6.351566
47  4.133849  0.108823    6.485779
49  4.155522  0.103713    7.918307
51  4.211092  0.084308    6.394904
50  4.280489  0.100274    7.077564
3   4.532339  0.107841    6.884513
7   4.628565  0.127673    7.037540
46  4.762689  0.120901    6.068201
2   4.811115  0.113069    6.531584
9   4.839419  0.153718    7.207053
43  4.911441  0.140614    6.717006
21  4.923256  0.188684    6.277847
10  4.947341  0.157593    8.092508
45  4.951843  0.128664    7.402578
8   4.967552  0.148057    7.138245
52  4.982740  0.108186    7.435814
1   5.008042  0.101536    7.393594
16  5.020456  0.208602    6.792677
19  5.025860  0.199540    7.063987
24  5.158063  0.203184    5.791146
41  5.161809  0.174645    5.479907
37  5.163760  0.209729    6.085962
53  5.182074  0.115782    6.664950
22  5.221413  0.183340    5.478476
44  5.231834  0.144379    7.299589
42  5.234595  0.167927    7.430465
5   5.251543  0.132209    8.692668
20  5.262296  0.184618    7.416471
11  5.265073  0.191548    8.342104
15  5.270850  0.197066    7.490980
14  5.272616  0.193015    8.070549
39  5.315730  0.194418    6.206881
13  5.334651  0.197237    8.477027
31  5.383029  0.210266    5.263082
17  5.413772  0.204314    6.125820
12  5.452593  0.190884    8.363720
4   5.482606  0.118193    7.777317
40  5.486404  0.183379    6.465498
18  5.522132  0.205129    6.891334
26  5.538135  0.207666    5.843644
30  5.587042  0.221947    6.041617
23  5.599345  0.194851    5.596402
27  5.677395  0.216169    6.027635
38  5.689703  0.188260    6.303168
32  5.709605  0.212906    5.425355
28  5.755464  0.205628    5.776108
25  5.794001  0.204837    5.872436
29  5.864455  0.216166    6.088937
35  5.875341  0.221038    6.228777
33  5.925675  0.216900    5.591991
36  6.043471  0.216281    5.979321
34  6.149509  0.223476    6.005965
6   6.456311  0.129590    7.094790

Статистически, 6-я неделя года хвастается самой переменчивой погодой